<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <div class="mdl-card">
        <div class="mdl-card__title">
            {{workout.name}}
        </div>
        <div class="mdl-card__media">
            {{workout.media}}
        </div>
        <div class="mdl-card__supporting-text">
            {{workout.body}}
        </div>
        <div class="mdl-card__actions">
            {{workout.reps}}
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col">
            {{workout.name}}
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            {{workout.body}}
        </div>
        <div class="mdl-cell mdl-cell--1-col">
            {{workout.reps}}
        </div>
    </div>
    <!--<h1>Hello {{workout.name}}</h1>-->
    <!--<div>-->
        <!--<span>Name: {{workout.name}}</span>-->
    <!--</div>-->
    <!--<div>-->
        <!--<span>Detail: {{workout.body}}</span>-->
    <!--</div>-->
    <!--<div>-->
        <!--<span>Total Reps: {{workout.reps}}</span>-->
    <!--</div>-->
</body>
</html>